<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="cancer,machine learning,breast cancer,diagnosis, prediction, cancer prediction, cancer detection"
    />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Pinkora - Breast Cancer Detection</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nice-select.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/icofont.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/slicknav.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/owl-carousel.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/datepicker.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/animate.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/magnific-popup.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/responsive.css') }}"
    />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator">
          <svg width="16px" height="12px">
            <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            <polyline
              id="front"
              points="1 6 4 6 6 11 10 1 12 6 15 6"
            ></polyline>
          </svg>
        </div>
      </div>
    </div>

    <header class="header" >
      <!-- Topbar -->
      <div class="topbar">
        <div class="container" style="display:flex; justify-content:space-between">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12">
              <!-- Contact -->
              <ul class="top-link" style="display:flex">
                <li><a href="#">About</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
              <!-- End Contact -->
            </div>
          </div>
		  <div>
			<a href="https://github.com/khalid21456/Web-Application-to-Predict-Breast-Cancer-diagnosis">
			   <img style="cursor:pointer" src="{{ url_for('static', filename='img/github-logo.png')}}" width="30px">
			</a>
		</div>
        </div>
      </div>
      <!-- End Topbar -->
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  <a href="index.html"
                    ><img
                      id="logo"
                      src="{{ url_for('static', filename='img/Pinkora-logo.png') }}"
                      alt="#"
                  /></a>
                </div>
                <div class="mobile-nav"></div>
              </div>
              <div class="col-lg-7 col-md-9 col-12" style="display:flex; justify-content:right; width:500px;">
				<div>
					<button class="btn-try">Try it Now</button>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="slider">
      <div class="hero-slider">
        <div
          class="single-slider"
          style="background-image: url('../static/img/slider3.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    We Provide <span>Medical</span> Service That You Can
                    <span>Trust!</span>
                  </h1>
                  <p>
             
                  </p>
                  <div class="button">
                    <a href="#" class="btn">Try it now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('../static/img/slider.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    <span>Pinkora</span> a Machine Learning Based Solution to Detect Breast Cancer
                  </h1>
                  <div class="button">
                    <a href="#" class="btn">Try it now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start End Slider -->
        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('../static/img/slider2.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    Try it now for <span>Free</span> !
                  </h1>
                  <div class="button">
                    <a href="#" class="btn">Try it now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->
      </div>
    </section>
    <!--/ End Slider Area -->

    <!-- Start Schedule Area -->

    <!--/End Start schedule Area -->

    <!-- Start Feautes -->
    <section class="Feautes section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Are Always Ready to Help You & Your Family</h2>
              <img
                src="{{ url_for('static', filename='img/section-img.png') }}"
                alt="#"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit praesent
                aliquet. pretiumts
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-12">
            <!-- Start Single features -->
            <div class="single-features">
              <div class="signle-icon">
                <i class="icofont icofont-ambulance-cross"></i>
              </div>
              <h3>Emergency Help</h3>
              <p>
                Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam
                vulputate.
              </p>
            </div>
            <!-- End Single features -->
          </div>
          <div class="col-lg-4 col-12">
            <!-- Start Single features -->
            <div class="single-features">
              <div class="signle-icon">
                <i class="icofont icofont-medical-sign-alt"></i>
              </div>
              <h3>Enriched Pharmecy</h3>
              <p>
                Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam
                vulputate.
              </p>
            </div>
            <!-- End Single features -->
          </div>
          <div class="col-lg-4 col-12">
            <!-- Start Single features -->
            <div class="single-features last">
              <div class="signle-icon">
                <i class="icofont icofont-stethoscope"></i>
              </div>
              <h3>Medical Treatment</h3>
              <p>
                Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam
                vulputate.
              </p>
            </div>
            <!-- End Single features -->
          </div>
        </div>
      </div>
    </section>

    
    <!-- jquery Min JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/colors.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slicknav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/niceselect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tilt.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/steller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
